.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {
    color: white;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.dialogsItems {
    padding: 10px;
}

.active {
    color: white;
    text-decoration: underline;
}

.dialogs button {
    width: 5em;
    border-radius: 4px;
}